@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Oswald&family=Raleway:wght@100;200&display=swap');

/* ****************Création des variables**************** */
:root {
    /* ************Colors************ */
    --main-color: #AD2C40;
    --secondary-color: #415271;
    --dark: white;
    --dark: black;
    /* ************spacing************ */
    --spacing: 8px;
    --spacing-2: calc(var(--spacing) * 2);
    --spacing-4: calc(var(--spacing) * 4);

    /* ************fonts************ */
    --title-font: 'Merriweather', serif;
    --secondaryTitle-font: 'Oswald', sans-serif;
    --main-font: 'Raleway', sans-serif;

    /* ************size************ */
    --text-font-size: 8pt;
    --secondaryTitle-size: 16pt;
    --title-font-size: 32pt;
}


/* Police, taille et couleur de base sur tout le site */

 body {
    margin: 0;
    padding: 0;
}

/* Police, taille et couleur du H1 */
h1 {
    font-family: var(--Title-font);
    font-size: var(--title-font-size);
    color: var(--light);
}

/* Police, taille et couleur du H2 */
h2 {
    font-family: var(--secondaryTitle-font);
    font-size: var(--secondaryTitle-size);
    color: var(--dark);
}

/* ************* HEADER *************/
header {
    background-size: cover;
    height: 100%;
    margin: 1em;
    display: flex;
    text-align: center;
    flex-direction: column;
}

header::after {
    content: "";
    height: 62px;
    width: 100%;
    background: url(/assets/Arrow1.png) no-repeat;
    margin-top: -1px;
    background-position-x: center;
}

.titleGroup h1,
.titleGroup h2 {
    color: var(--light);
    margin: var(--spacing);
    height: auto;
    text-shadow: 0px 5px 5px rgb(0, 0, 0);
}


.titleGroup {
    background: url(assets/banniere_mob.jpg) no-repeat center top;
    background-size: cover;
    height: 270px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* &&&&&&&&&&&&&&&&  MAIN  &&&&&&&&&&&&&&& */

main {
    width: 95%;
    margin: auto;
}

section h1 {
    font-family: 'Oswald', sans-serif; /* Police titre principal */  
    font-size: var(--title-font-size);/* Taille police titre principal */    
    text-align: center; /* Centrer le titre */
    padding-bottom: 5px;/* Padding bas */
}


section p{
    font-family:'Raleway', sans-serif;                            /* Police paragraphe */
    font-size:  var(--secondaryTitle-size);                       /* Taille police paragraphe */
    padding-top: var( --spacing-4) ;                              /* Espacement entre la ligne et le paragraphe */
    padding-bottom: var( --spacing-4);                            /* Ligne du haut du paragraphe */                  
    line-height: var( --spacing-4);
    width: 80%;
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
}

article {
    border: solid 2px rgba(128, 128, 128, 0.096);
    box-shadow: 3px 3px rgba(128, 128, 128, 0.11);
    margin-bottom: 25px;                                           /* Espacement entre les articles */
}

article img {                                /* Taille et margin des images */    
    margin: 10px 45px 10px 45px;
    width: 80%;
}
    

article h2 {
    text-align: center;
    font-family: 'Raleway', 'sans-serif';
}


                                     /* &&&&&&&&&&&&&&  IMAGES END   &&&&&&&&&&&&&&&&&& */

.cadre img{
    width: 60%;
    margin: 20px 45px 10px 90px;  
}

a:hover {
   color: blueviolet;
   text-decoration: none;
}


/*
{ 
    background-color: var(--light);
/* Police, taille et couleur de base sur tout le site */


/* ************* FOOTER *************/
footer {
    margin-bottom: 200px;
}

footer h2 {
    font-family: var(--secondaryTitle-font);
    font-size: var(--secondaryTitle-size);
    color: var(--main-color);
}

form {
    padding: 1em;
    border: 1px solid #CCC;
    box-shadow: 0 0 5px grey;
    margin-bottom: var(--spacing-2);
    margin-top: var(--spacing-2);
    align-items: center;
    margin-left: var(--spacing);
    margin-right: var(--spacing);
}

.formu {
    width: 100%;
    box-sizing: border-box;
    display: flex;

    justify-content: center;
}

input {
    width: 100%;
}

textarea {
    width: 100%;
    box-sizing: border-box;
    margin-top: 5px;
}

.button {
    text-align: right;
    margin-top: var(--spacing);
    width: 150px;
}

button {
    background-color: var(--secondary-color);
    color: var(--light);
    font-weight: bold;
}

/* mise en place d'un flex pour mettre en page les icones et le bouton envoyer */
.social {
    display: flex;
    justify-content: space-between;
    width: 100%;


}


/* modification de la couleur et de la taille des icones */
i {
    color: var(--dark);
    font-size: var(--secondaryTitle-size);
    padding: var(--spacing);
}

/***** NAV MENU****/

nav {
    display: flex;
    /* Transforme le nav en conteneur flexible*/
    flex-direction: column;
    /*  Oriente les éléments contenu dans nav en colonnes*/
    align-items: center;
    /* Centre les éléments selon l'axe secondaire */
    position: fixed;
    /* Fixe le nav à l'écran */
    bottom: 0;
    /*  Place le nav en bas de l'écran*/
    width: 100%;
    /*  Le nav prend tout l'espace disponible en largeur */
}

nav ul {
    display: flex;
    /* Transforme le ul en conteneur flexible*/
    flex-wrap: wrap;
    /*  Permet aux éléments d'aller à la ligne*/
    width: 420px;
    /*  Défini la largeur*/
    justify-content: center;
    /* Centre les éléments selon l'axe principal */
    padding: 0;
    /* Supprime le padding par défaut */
    position: relative;
    /* position l'élément de façon relative pour permettre déplacer plus facilement */
    top: 65px;
    /* Le déplace vers le bas */
    z-index: 1;
    /* Permet à l'élément d'être au premier plan */
}


nav li {
    list-style-type: none;
    /*  Retire les puces */
    background-color: var(--light);
    /* Défini le fond d'écran des éléments de la liste */
    width: 50px;
    /*  Défini la largeur */
    height: 50px;
    /* Défini la hauteur */
    border-radius: 50%;
    /* Transforme les éléménts en cercle */
    box-shadow: -0px 0px 5px 0px rgba(0, 0, 0, 0.33);
    /*  Défini l'ombre autour des éléments*/
    transition: box-shadow 1s;
    /*  Paramètre la transition*/
}

nav li:hover,
#navButton:hover,
.iconeActiv {
    box-shadow: -0px 0px 5px 0px var(--main-color);
    /*  Change la couleur de l'omber lors du survol de l'icone ou lorsque la page est active*/
    transition: box-shadow 1s;
    /*  Paramètre la transition*/
}

#navList a {
    margin: 20px;
    /* Défini la marge extérieure des éléments  */
    opacity: 1;
    /*  Règle l'opacité à 1 pour premettre la transition lors de la réaparition des icones*/
    scale: 1;
    /*  Règle l'échelle à 1 pour premettre la transition lors de la réaparition des icones*/
    pointer-events: visible;
    /*  Remet le pointeur dans sa position d'origine*/
    transition: opacity 1s, scale 1s;
    /*  Paramètre la transition*/
}

#navList .hidden {
    opacity: 0;
    /*  Règle l'opacité à 0 pour faire disparaitre les icones*/
    scale: 0;
    /*  Règle l'échelle à 0 pour faire disparaitre les icones*/
    pointer-events: none;
    /*  Désactive le pointeur pour empêcher le clic des éléments invisible*/
    transition: opacity 1s, scale 1s;
    /*  Paramètre la transition*/
}

#navList .none {
    display: none;
}

#navList a img {
    margin: 5px;
    /*  Place les icones */
    width: 40px;
    /* Défini la taille des icones  */
}

#navList .iconeActu {
    /* Correction de la position et de la taille d'un icone */
    width: 36px;
    margin: 2px 7px;
}

#navButton {
    border-radius: 50%;
    /* Transforme le bouton en cercle */
    width: 68px;
    /* Défini la largeur */
    height: 68px;
    /*  Défini la hauteur*/
    margin: 20px;
    /* Défini la marge extérieure des éléments  */
    background: url(/assets/iconeListenbourg.png) no-repeat;
    /* Défini le fond d'écran du bouton */
    border: none;
    /* Supprime la bordure par défaut*/
    background-position: -8px -8px;
    /*  repositionne le background*/
    box-shadow: -0px 0px 5px 0px rgba(0, 0, 0, 0.33);
    /* Défini l'ombre autour du bouton */
    cursor: default;
    /*  Donne un aspect clickable au bouton*/
}


/* Bandeau de couleur */
.box {
    background-color: var(--main-color);
    /* Défini la couleur */
    width: 100%;
    /*  Permet au bandeau de prendre toute la largeur*/
    height: 60px;
    /*  Défini la hauteur*/

}

.inBox {
    /* Cercle blanc autour de l'icone du Listenbourg */
    background-color: var(--light);
    /* Défini la couleur */
    clip-path: ellipse(30% 30% at 50% 0%);
    /* Prend la forme du cercle*/
    width: 160px;
    /* Défini la largeur */
    height: 160px;
    /* Défini la hauteur */
    margin: auto;
    /* Place le cercle au milieu de l'écran*/
}

.box p {
    position: fixed;
    bottom: 0;
    right: var(--spacing);
    font-weight: bold;
}

@media screen and (min-width: 600px) {
    .titleGroup {
        background: url(assets/banniere_web.jpg) no-repeat center top;
        background-size: cover;
        height: 350px;
    }
}