@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Oswald&family=Raleway:wght@100;200&display=swap');

/* ****************Création des variables**************** */
:root {
    /* ************Colors************ */
    --main-color: #AD2C40;
    --secondary-color: #415271;
    --light: white;
    --dark: black;
    /* ************spacing************ */
    --spacing: 8px;
    --spacing-2: calc(var(--spacing) * 2);
    --spacing-4: calc(var(--spacing) * 4);

    /* ************fonts************ */
    --title-font: 'Merriweather', serif;
    --secondaryTitle-font: 'Oswald', sans-serif;
    --main-font: 'Raleway', sans-serif;

    /* ************size************ */
    --text-font-size: 8pt;
    --secondaryTitle-size: 16pt;
    --title-font-size: 32pt;
}

/* header */


                                          /* &&&&&&&&&&&&&&&&  MAIN  &&&&&&&&&&&&&&& */
*{margin: 0;
}

h1{
    font-family:'Oswald', sans-serif;                            /* Police titre principal */
    font-size: var( --title-font-size);                          /* Taille police titre principal */
    text-align: center;                                          /* Centrer le titre */
    padding-bottom: 5px;                                         /* Padding bas */
    border-bottom: 2px solid #AD2C40;                          /* Ligne du bas titre principal */
}

section{                                                          
    width: 85%;
    margin: auto;
    
}


p{
    font-family:'Raleway', sans-serif;                            /* Police paragraphe */
    font-size:  var(--secondaryTitle-size);                       /* Taille police paragraphe */
                                                                  /* Ligne du haut du paragraphe */
    padding-top: var( --spacing-4) ;                              /* Espacement entre la ligne et le paragraphe */
    padding-bottom: var( --spacing-4);                            /* Espacement entre le paragraphe et les articles */
    line-height: var( --spacing-4);
}

.article {
    background-color: gray;                                    /* Visualisation du bloc général  */
    list-style: none;
}
.article ul {
    display: flex;
    flex-direction: column;
}

.articles {
    list-style: none;   
}

article{
    border: solid 2px black;
}
section img {
    width: 100%;
}












/*
{ 
    background-color: var(--light);
}

h1 {
    font-family: var(--title-font);
    font-size: var(--title-font-size);
    color: var(--dark);
}

footer {
    background-color: var(--main-color);
}

h2 {
    font-family: var(--secondaryTitle-font);
    font-size: var(--secondaryTitle-size);
    color: var(--font-color);
}

p {
    font-family: var(--main-font);
    font-size: var(--text-font-size);
    color: var(--font-color);
} */