@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Oswald&family=Raleway:wght@100;200&display=swap');

/* ****************Création des variables**************** */
:root {
    /* ************Colors************ */
    --main-color: #AD2C40;
    --secondary-color: #415271;
    --dark: white;
    --dark: black;
    /* ************spacing************ */
    --spacing: 8px;
    --spacing-2: calc(var(--spacing) * 2);
    --spacing-4: calc(var(--spacing) * 4);

    /* ************fonts************ */
    --title-font: 'Merriweather', serif;
    --secondaryTitle-font: 'Oswald', sans-serif;
    --main-font: 'Raleway', sans-serif;

    /* ************size************ */
    --text-font-size: 8pt;
    --secondaryTitle-size: 16pt;
    --title-font-size: 32pt;
}
* {
    font-family: var(--main-font);
      font-size: var(--text-font-size);
      
 }
 body {
    margin: 0;
    padding: 0;
}

/* Police, taille et couleur du H1 */
h1 {
    font-family: var(--Title-font);
    font-size: var(--title-font-size);
    color: var(--light);
}

/* Police, taille et couleur du H2 */
h2 {
    font-family: var(--secondaryTitle-font);
    font-size: var(--secondaryTitle-size);
    color: var(--dark);
}

/* ************* HEADER *************/
header {
    background-size: cover;
    height: 100%;
    margin: 1em;
    display: flex;
    text-align: center;
    flex-direction: column;
}

header::after {
    content: "";
    height: 62px;
    width: 100%;
    background: url(/assets/Arrow1.png) no-repeat;
    margin-top: -1px;
    background-position-x: center;
}

 */

.titleGroup h1 {
    color: var(--light);
    margin: var(--spacing);
    height: auto;
    text-shadow: 0px 5px 5px rgb(0, 0, 0);
}
.titleGroup  h2 {
    color: var(--light);
    margin: var(--spacing);
    height: auto;
    text-shadow: 0px 5px 5px rgb(0, 0, 0);
}


.titleGroup {
    background: url(assets/banniere_mob.jpg) no-repeat center top;
    background-size: cover;
    height: 270px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

                                          /* &&&&&&&&&&&&&&&&  MAIN  &&&&&&&&&&&&&&& */

main{
    width: 95%;
    margin: auto;
}

section h1{
    font-family:'Oswald', sans-serif;                            /* Police titre principal */
    font-size: var( --title-font-size);                          /* Taille police titre principal */
    text-align: center;                                          /* Centrer le titre */
    padding-bottom: 5px;                                         /* Padding bas */
                             
}


section p{
    font-family:'Raleway', sans-serif;                            /* Police paragraphe */
    font-size:  var(--secondaryTitle-size);                       /* Taille police paragraphe */
                                                                  /* Ligne du haut du paragraphe */
    padding-top: var( --spacing-4) ;                              /* Espacement entre la ligne et le paragraphe */
    padding-bottom: var( --spacing-4);                            /* Espacement entre le paragraphe et les articles */
    line-height: var( --spacing-4);
    width: 80%;
    padding-left: 40px;
    padding-right: 40px;
}
article{
    border: solid 2px rgba(128, 128, 128, 0.096);
    box-shadow: 3px 3px rgba(128, 128, 128, 0.11);
    margin-bottom: 25px;                                           /* Espacement entre les articles */
   
}
    
section img {                                                   /* Reglage des images articles */
    width: 80%;
    padding-left: 40px;
    padding-right: 40px;
}

article h2 {
    text-align: center;
    font-family: 'Raleway', sans-serif;;
}


/*
{ 
    background-color: var(--light);
/* Police, taille et couleur de base sur tout le site */


/* ************* FOOTER *************/

footer h2 {
    font-family: var(--secondaryTitle-font);
    font-size: var(--secondaryTitle-size);
    color: var(--main-color);
}

form {
    padding: 1em;
    border: 1px solid #CCC;
    box-shadow: 0 0 5px grey;
    margin-bottom: var(--spacing-2);
    margin-top: var(--spacing-2);
    align-items: center;
    margin-left: var(--spacing);
    margin-right: var(--spacing);
}

.formu {
    width: 100%;
    box-sizing: border-box;
    display: flex;

    justify-content: center;
}

input {
    width: 100%;
}

textarea {
    width: 100%;
    box-sizing: border-box;
    margin-top: 5px;
}

.button {
    text-align: right;
    margin-top: var(--spacing);
    width: 150px;
}

button {
    background-color: var(--secondary-color);
    color: var(--light);
    font-weight: bold;
}

/* mise en place d'un flex pour mettre en page les icones et le bouton envoyer */
.social {
    display: flex;
    justify-content: space-between;
    width: 100%;


}

/* modification de la ligne sous le formulaire contact */
.footer_2 {
    background-color: var(--main-color);
    font-size: var(--text-font-size);
    text-align: right;
    font-weight: bold;
    padding-top: var(--spacing-2);
}

/* modification de la couleur et de la taille des icones */
i {
    color: var(--dark);
    font-size: var(--secondaryTitle-size);
    padding: var(--spacing);
}

@media screen and (min-width: 600px) {
    .titleGroup  {
        background: url(assets/banniere_web.jpg) no-repeat center top;
        background-size: cover;
        height: 350px;
    }
}